*{
  margin: 0px 0px 0px 0px;
padding:0px 0px 0px 0px;

}
.main{
  background:url(./img---/about.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  z-index: -1;
  height:140px;
  vertical-align:middle;
  padding:70px 0;
  color: rgb(102, 40, 153);
}
.content{
  margin: 20px 20px;
  padding: 10px;
  font-size: medium;
  


}
.middle{
  background:url(./img---/mid_image.webp);
  background-repeat:no-repeat;
  background-size:cover;
 z-index: -1;
  height:600px;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
  vertical-align:middle;
  padding:40px 0;
  color: rgb(102, 40, 153);
}
.btn{
  background-color: #df824d9f; /* Green */
  border: none;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 12px;
  width: 150px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(50, 44, 54);
  font-size: 16px;

}
.btn:hover {
  background-color: #af4c89; /* Green */
  color: white;
}
@media (max-width:960px) {
 .middle { 
    max-width: 100%; 
    height: auto; 
}

  
}