@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #e6e6e6;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.62)), to(rgba(0, 0, 0, 0.62))), url(/img---/bg-other.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)), url(/img---/bg-other.jpg);
  background-size: cover;
  background-position: top;
  height: 50vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header nav .logo-image {
  height: 7.5rem;
  width: 18.5rem;
  margin-left: 6em;
}

header nav .menu-items {
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10em;
}

header nav .menu-items li {
  list-style: none;
  padding: 0 1em;
}

header nav .menu-items li::after {
  content: "";
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  height: 2px;
  background-color: #f4f4f4;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .menu-items li:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

header nav .menu-items a {
  text-decoration: none;
  cursor: pointer;
  color: #ebe8e8;
  font-weight: 500;
}

header nav .menu-items a:hover {
  color: #fff;
}

header h1 {
  font-size: 5rem;
  color: #f4f4f4;
  position: relative;
  left: 35%;
  top: 25%;
}

.sticky {
  position: fixed;
  background-color: #000;
}

.contact-container {
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 3em;
}

.contact-container h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-container h2::after {
  content: "";
  height: 4px;
  background-color: #1f004f;
  display: block;
  width: 70px;
}

.contact-container .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  background-color: white;
}

.contact-container .contact-box .contact-form {
  margin-left: 1em;
  padding-left: 0.5em;
  width: 100%;
}

.contact-container .contact-box .contact-form input, .contact-container .contact-box .contact-form textarea {
  display: block;
  border: none;
  width: 95%;
  border-bottom: 2.5px solid #ddd;
  padding: 1rem 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
  font-weight: 500;
  outline-style: none;
}

.contact-container .contact-box .contact-form textarea {
  resize: none;
}

.contact-container .contact-box .contact-form button {
  display: inline-block;
  padding: 1em 1.9em;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 1.4rem;
  color: #f4f4f4;
  background-color: #2c0070;
  font-weight: 500;
}

.contact-container .contact-box .contact-form button:hover {
  background-color: #1f004f;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.contact-container .contact-box .contact-form h4 {
  font-size: 3rem;
  font-weight: 500;
}

.contact-container .contact-box .contact-form h4::after {
  content: "";
  height: 4px;
  background-color: #1f004f;
  display: block;
  width: 70px;
}

.details .all {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1f004f;
}

.details .all .address {
  margin: 30px 70px;
  width: 30rem;
  text-align: center;
}

.details .all .address .fas {
  font-size: 7rem;
}

.details .all .address h4 {
  padding-top: 0.5em;
  font-size: 2rem;
}

.details .all .address P {
  padding-top: 0.5em;
  font-size: 1.7rem;
  color: black;
  font-weight: 600;
}

.accordion {
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 2em;
  max-width: 800px;
}

.accordion h2 {
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 1em;
}

.accordion h2::after {
  content: "";
  height: 4px;
  background-color: #1f004f;
  display: block;
  width: 40px;
}

.accordion .contentBox {
  padding-top: 1em;
}

.accordion .contentBox .accordion-button {
  display: block;
  padding: 15px;
  background: #1f004f;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  outline: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.accordion .contentBox .accordion-button::after {
  content: "\25be";
  float: right;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 5px;
  color: white;
}

.accordion .contentBox .accordion-button--active + .accordion-content {
  display: block;
}

.accordion .contentBox .accordion-button--active::after {
  content: "\25b4";
  float: right;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 5px;
  color: white;
}

.accordion .contentBox .accordion-content {
  display: none;
  overflow: auto;
  padding: 10 20px;
}

.accordion .contentBox .accordion-content p {
  font-size: 1.5em;
  font-weight: 500;
}

.footer {
  background-color: black;
  margin-top: 10em;
  padding-top: 2em;
  padding-bottom: 4em;
}

.footer .footer-whole {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.footer .footer-whole .footer-logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.footer .footer-whole .footer-logo img {
  height: 10rem;
  width: 250px;
}

.footer .footer-whole .footer-logo p {
  margin-top: 0.8em;
}

.footer .footer-whole .footer-link {
  padding-left: 5em;
}

.footer .footer-whole .footer-link h3 {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 0.8em 0em 0.5em 0em;
}

.footer .footer-whole .footer-link ul {
  color: white;
  list-style: none;
}

.footer .footer-whole .footer-link ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
}

.footer .footer-whole .footer-link ul > li > a:hover {
  text-decoration: underline;
}

.footer .footer-whole .footer-contact {
  color: white;
}

.footer .footer-whole .footer-contact h3 {
  font-weight: 500;
  font-size: 2.5rem;
  padding: 0.8em 0em 0.5em 0em;
}

.footer .footer-whole .footer-contact p {
  font-weight: normal;
  font-size: 1.5rem;
}

#footer-copyright {
  background-color: #1c1c1c;
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer-copyright h2 {
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
}
/*# sourceMappingURL=contact.css.map */